<div class="container py-5">

  <div class="row">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">新增一筆</h5>
          <hr>
          {{>message}}
          <form method="POST" action="/records">
            <div class="form-group form-row">
              <label for="name" class="col-md-3 col-form-label">名稱</label>
              <div class="col-md-8">
                <input type="text" name="name" class="form-control" id="name" placeholder="名稱" required>
              </div>
            </div>
            <div class="form-group form-row">
              <label for="date" class="col-md-3 col-form-label">日期</label>
              <div class="col-md-8">
                <input type="date" name="date" class="form-control" id="date" placeholder="date" value="{{dateToday}}"
                  required>
              </div>
            </div>
            <div class="form-group form-row">
              <label for="category" class="col-md-3 col-form-label">分類</label>
              <div class="col-md-8">
                <input type="text" name="category" class="form-control" id="category" placeholder="分類" required>
              </div>
            </div>
            <div class="form-group form-row">
              <label for="amount" class="col-md-3 col-form-label">金額</label>
              <div class="col-md-8">
                <input type="number" name="amount" class="form-control" id="amount" placeholder="amount" required>
              </div>
            </div>

            <button class="btn btn-success" type="submit">新增一筆</button>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>